<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=171864f7-2b8b-4a90-a5bc-f9a99e2d3516&lang=ru_RU"
            type="text/javascript">
    </script>
    <title>Locomotive</title>
</head>
<body>
<div id="root"></div>

<!-- Dependencies -->

</body>
</html>